ul {
  list-style: none;
}

li {
  border-radius: 5px;
  padding: 25px;
  margin: 25px;
  display: inline-block;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: #ffffff;
  width: 25%;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  &:hover {
    box-shadow: 0 5px 8px rgba(0,0,0,0.20), 0 5px 8px rgba(0,0,0,0.27);
  }
}

input {
  border: 0px;
  border-bottom: 2px solid #55d400;
  font-size: 16px;
  padding: 10px;

  &:focus {
    border-bottom: 4px solid #55d400;
  }
}

@media (max-width: 600px) {
  li {
    width: 50%;
  }
}
