<nav>
  <button (click)="login()" *ngIf="!isAuthenticated">Log In</button>
  <button (click)="logout()" *ngIf="isAuthenticated">Log Out</button>
</nav>
<div *ngIf="isAuthenticated">
  <ul *ngIf="loaded">
    <li [routerLink]="['create']"><h2>+ Create New Entry</h2></li>
    <li>
      <h2>Filter Entries By Title</h2>
      <input [(ngModel)]='title' type="text" placeholder="entry title" />
    </li>
    <li *ngFor="let entry of entries | titleFilter: title" [routerLink]="['edit']" [queryParams]="{fname: entry.title}">
      <h2>{{ entry.title }}</h2>
      <h3>{{ entry.date }}</h3>
      <h3>{{ entry.startTime }} - {{ entry.endTime }}</h3>
      <p>{{ entry.preview }}</p>
    </li>
  </ul>
</div>
